# AdMob Banner IDs
EXPO_PUBLIC_ADMOB_TEST_BANNER_ID=ca-app-pub-3940256099942544/2934735716
EXPO_PUBLIC_ADMOB_IOS_BANNER_ID=your_ios_banner_id_here
EXPO_PUBLIC_ADMOB_ANDROID_BANNER_ID=your_android_banner_id_here

# AdMob Interstitial IDs
EXPO_PUBLIC_ADMOB_TEST_INTERSTITIAL_ID=ca-app-pub-3940256099942544/4411468910
EXPO_PUBLIC_ADMOB_IOS_INTERSTITIAL_ID=your_ios_interstitial_id_here
EXPO_PUBLIC_ADMOB_ANDROID_INTERSTITIAL_ID=your_android_interstitial_id_here

# Google Cloud Vision API
EXPO_PUBLIC_CLOUD_VISION_API_KEY=your_cloud_vision_api_key_here 